body {
    padding-top: 65px;
    padding-bottom: 69px;
    margin: 0;
    background: linear-gradient(to top, #F13F42, #DE2270) no-repeat;
    background: linear-gradient(to right, #F13F42, #DE2270) no-repeat;
}

.bm-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 26px 30px 60px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

input {
    border-radius: 4px;
    background-color: #f0f0f0;
    height: 38px;
    border: none;
    padding-left: 14px;
}

input::placeholder{
    color:  #797b7f;
    font:400 14px/0.9 Arial, sans-serif;
}



.bm-form-row {
    padding-bottom: 15px;
}

.bm-header {
    padding-bottom: 32px;
}

.bm-head-logo {
    display: flex;
}

.bm-logo-text {
    margin-left: 9px;
    font: 700 24px/1 Arial, sans-serif;
    letter-spacing: 0.001px;
}

.bm-head-text {
    font: 400 13px/1.5 Arial, sans-serif;
    letter-spacing: 0.17px;
    margin-left: -2px;
    margin-top: 15px;
    margin-left: 1px;
    color: #797b7f;

}

.bm-head-text a {
    text-decoration: none;
    color: #ea355a;
}

.bm-form-name {
    display: flex;
}

.bm-form-name input {
    width: 178px;

}

.bm-form-first-name {
    padding-right: 13px;
}

.bm-form-last-name input::placeholder{
    padding-left: 2px;
}

.bm-form-email input {
    width: 400px;
}

.bm-form-pass input {
    width: 400px;
}

.bm-form-button {
    background-color: #ea355a;
    box-shadow: 0px 3px 0px 0px #bd1962;
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 4px;
    color:  #ffffff;
    font:700 18px/0.9 Arial, sans-serif;
    margin-top: -1px;
}

.bm-footer{
    padding-top: 25px;
    font:400 12px/1.6 Arial, sans-serif;
    color:  #797b7f;
    letter-spacing: 0.1px;
}

.bm-footer a{
    color:  #e22a6c;
    text-decoration: none;
}